{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
    <link href="starter-template.css">
    <style>
        html, 
        body {
            height: 100%;
            overflow-y: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="background-color: rgb(91, 169, 221); height: 100%;">
        <center>
            <h2>Lista de Produtos</h2>

            {% if object_list %}
                <table class="table striped" style="width: 50%; background-color: gray;">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Produto</th>
                            <th>Preço</th>
                            <th class="text-center">Estoque</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr style="color:aliceblue">
                                <!-- <td>{{ object.pk }}</td> -->
                                <td>{{ object.produto }}</td>
                                <td>{{ object.preco }}</td>
                                <td class="text-center">{{ object.estoque }}</td>
                                <td style="text-align: center;">
                                    <a  class="btn btn-info"
                                        href="{% url 'produto:produto_edit' pk=object.pk%}">
                                        <i class="fa fa-edit" aria-hidden="true"> Editar Produto</i>
                                    </a>
                                    <a  class="btn btn-info"
                                        href="{% url 'produto:produto_delete' pk=object.pk%}">
                                        <i class="fa fa-trash" aria-hidden="true"> Remover Produto</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-warning">Sem itens na lista.</p>
            {% endif %}
        </center>
    </div>
{% endblock content %}