{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    Product List
{% endblock %}
{% block styles %}
	<style>
		table {
			border: 1px solid black;
			border-collapse: collapse;
			background-color: #f5f5f5;
			width: 50%;
			margin-bottom: 20px;
			border-radius: 10px;
		}

		th, td {
			padding: 8px;
			text-align: left;
			font-weight: bold;
		}

		th {
			background-color: #333;
			color: white;
		}

		tr:nth-child(even) {
			background-color: #ddd;
		}

		tr:hover {
			background-color: #666262;
			color: white;
		}
		.title{
			background-color: white; 
			border-radius: 10px;
			color: black;
			margin-top: 20px;
			width: 50%;
		}
		.search{
			display: inline-block; 
			margin-left: 20px;
			margin-bottom: 20px;
		}
		.pagination {
			background-color: white;
			color: black;
			font-weight: bold;
			width: 23%;
			overflow-x: auto; /* barra de rolagem horizontal */
			white-space: nowrap; /* n quebra para a próxima linha */
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.pagination-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.pagination a, .pagination span {
			display: inline-block;
			padding: 5px 10px;
			margin: 2px;
			text-decoration: none;
			border: 1px solid black;
			border-radius: 3px;
		}

		.pagination a:hover:not(.active) {
			background-color: gray;
		}

		.pagination .btn-info {
			background-color: #007bff;
			color: white;
			border-color: #007bff;
		}

		.pagination .btn-outline-info {
			color: #007bff; 
			border-color: #007bff;
		}
		.current {
			margin: 0 auto;
			text-align: center;
		}
		.spacer {
			width: 83px;
		}
	</style>
{% endblock %}

{% block content %}
	<div>
		<center>
			<div class="title">
				<h2>PRODUCT LIST</h2>
				<form class="search" method="GET" action="">
					<input type="text" name="q" id="id_search" placeholder="Search products..." value="{{ request.GET.q }}">
					<button type="submit" class="btn btn-outline-info" style="margin-top: -3px;">
						<i class="fa-solid fa-magnifying-glass"></i>
						Search
					</button>
					{% if products %}
						<a href="{% url 'product:product_print_current' %}?{% if request.GET.q %}q={{ request.GET.q }}{% endif %}" class="btn btn-outline-info" style="margin-top: -3px; margin-left: 50px;" target="_blank">
							<i class="fa-solid fa-print"></i>
							Print list
						</a>
						<a href="{% url 'product:product_print_all' %}" class="btn btn-outline-info" style="margin-top: -3px;" target="_blank">
							<i class="fa-solid fa-print"></i>
							Print complete list
						</a>
						<a href="{% url 'product:product_excel_all' %}" class="btn btn-outline-info" style="margin-top: -3px;">
							<i class="fa-solid fa-file-excel"></i>
							Complete list for Excel
						</a>
					{% endif %}
				</form>
			</div>
			{% if products %}
				<table>
					<thead>
						<tr>
							<!-- <th>#</th> -->
							<th style="width: 300px;">Product</th>
							<th>Price</th>
							<th class="text-center">Stock</th>
							<th style="text-align: center;">Total Balance</th>
							<th style="text-align: center;">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for object in object_list %}
							<tr>
								<!-- <td>{{ object.id }}</td> -->
								<!-- <td>{{ forloop.counter }}</td> -->
								<td>{{ object.product }}</td>
								<td>{{ object.price }}</td>
								<td class="text-center">{{ object.inventory }}</td>
								<td class="text-center">$ {{ object.total_value }}</td>
								<td style="text-align: center;">
									<a class="btn btn-outline-info text-center fs-5"
										href="{% url 'product:product_edit' pk=object.pk %}">
										<i class="fa fa-edit" aria-hidden="true" style="font-weight: bold; font-size: 13px;"> Edit Product</i>
									</a>
									<a class="btn btn-outline-info text-center fs-5"
										href="{% url 'product:product_delete' pk=object.pk %}">
										<i class="fa fa-trash" aria-hidden="true" style="font-weight: bold; font-size: 13px;"> Remove Product</i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="pagination">
					<div class="pagination-container" style="display: flex; justify-content: center; align-items: center;">
						{% if products.has_previous %}
							<a href="?page=1" class="btn-outline-info">&laquo; First</a>
							<a href="?page={{ products.previous_page_number }}" class="btn-outline-info" style="margin-left: 5px;">Previous</a>
						{% else %}
							<div class="spacer"></div>
							<div class="spacer"></div>
						{% endif %}

						{% if not products.has_previous and not products.has_next %}
							<span class="current" style="margin: 0 auto; color: black;">
								Page {{ products.number }} of {{ products.paginator.num_pages }}.
							</span>
						{% else %}
							<span class="current" style="margin-left: 5px; color: black;">
								Page {{ products.number }} of {{ products.paginator.num_pages }}.
							</span>
						{% endif %}

						{% if products.has_next %}
							<a href="?page={{ products.next_page_number }}" class="btn-outline-info" style="margin-left: 5px;">Next</a>
							<a href="?page={{ products.paginator.num_pages }}" class="btn-outline-info" style="margin-left: 5px;">Last &raquo;</a>
						{% endif %}
					</div>
				</div>
			{% else %}
				<p class="alert alert-warning">No items in the list.</p>
			{% endif %}
		</center>
	</div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}