{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
    <link href="starter-template.css">
{% endblock %}

{% block content %}
        <center>
            <h2>Lista de Produtos</h2>

            {% if object_list %}
                <table class="table striped" style="width: 50%; background-color: gray;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th class="text-center">Estoque</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.produto }}</td>
                                <td>{{ object.preco }}</td>
                                <td class="text-center">{{ object.estoque }}</td>
                                <td>
                                    <a  class="btn btn-primary"
                                        href="{% url 'produto:produto_edit' pk=object.pk%}">
                                        <i class="fa fa-edit" aria-hidden="true">Editar Produto</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-warning">Sem itens na lista.</p>
            {% endif %}
        </center>
            
{% endblock content %}