<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lista de Produtos - Impressão</title>
	<style>
		@media print {
			body {
				font-family: Arial, sans-serif;
				margin: 20px;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 50px;
			}
			th, td {
				border: 1px solid black;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
			}
			.dd {
				margin-top: 0px;
				margin-left: 30px;
				position: relative;
				width: 120px;
				aspect-ratio: 352/200;
				overflow: hidden;
			}
		}
	</style>
</head>
<body>
	<center>
		<h1>Product List</h1>
	</center>
	<span>
		Asked by: {{user | upper}}
	</span>
	<br>
	<span>
		Date: {{ date }}
	</span>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Product</th>
				<th>Price</th>
				<th>Stock</th>
				<th>Total Balance</th>
			</tr>
		</thead>
		<tbody>
			{% for produto in produtos %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ produto.produto | upper }}</td>
					<td>{{ produto.preco }}</td>
					<td>{{ produto.estoque }}</td>
					<td>{{ produto.valor_total  }}</td> 
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		window.onload = function() {
			window.print();
		};
	</script>
</body>
</html>
