{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    Stock Entry
{% endblock %}

{% block styles %}
	<style>
		.title{
			background-color: white; 
			border-radius: 10px;
			color: black;
			margin-top: 20px;
			width: 50%;
		}
	</style>
{% endblock %}

{% block content %}
        <center>
            <div class="title">
                <h2>Stock Entry
                    <span>
                        <a style="margin-bottom: 4px;" class="btn btn-outline-primary text-center fs-5" href="{% url 'estoque_produtos:estoque_entrada_add' %}"> + Adicionar </a>
                    </span>
                </h2>
            </div>
            
            {% if object_list %}
                <table class="table striped" style="width: 50%; background-color: gray;">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>NF</th>
                            <th>Data</th>
                            <th>Usuário</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr style="color:aliceblue">
                                <td><a href="{% url 'estoque_produtos:estoque_entrada_up' pk=object.pk %}" style="color:aliceblue">{{ object }}</a></td>
                                <td>{{ object.nf }}</td>
                                <td>{{ object.created|date:'d/m/Y' }}</td>
                                <td>{{ object.funcionario.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-warning">No items in the list.</p>
            {% endif %}
        </center>
            
{% endblock content %}