{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load bootstrap %}


{% block title %}
    Cadastro de LOTE
{% endblock %}

{% block content %}
    <h2>Cadastro de LOTE</h2>
        <form action="" method="post">
            {% csrf_token %}  
            <div>
                <div class="col-md-3">
                    <label for="">funcionario</label>
                    {% bootstrap_field form.funcionario show_label=false %}
                </div>
                <div class="col-md-3">
                    <label for="">nf</label>
                    {% bootstrap_field form.nf show_label=false %}
                </div>
                <div class="col-md-3">
                    <label for="">movimentacao</label>
                    {% bootstrap_field form.movimentacao show_label=false %}
                </div>
            </div>
            {% if object %}
                <table class="table">
                    <thead>
                        <th>produto</th>
                        <th>quantidade</th>       
                        <th>saldo</th>       
                    </thead>
                    <tbody>
                        {% bootstrap_form estoque_itens_formset.management_form %}
                        {% for form in estoque_itens_formset %}
                        {{ form.id }}
                        <tr class="estoque_itens_formset">
                            <td width="">{% bootstrap_field form.produto show_label=False %}</td>
                            <td>{% bootstrap_field form.quantidade show_label=False %}</td>
                            <td>{% bootstrap_field form.saldo show_label=False %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <input type="submit" class="btn btn-primary" style="background-color: white; color: black;" value="Cadastrar">
        </form>
        
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $('.estoque_itens_formset').formset({
            prefix: '{{ estoque_itens_formset.prefix }}',
            addText: 'Novo Procedimento',
            deleteText: 'Remover',
            addCssClass: 'btn-add',
            deleteCssClass: 'btn-remove'})
        })
    </script>
{% endblock scripts %}