{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    Stock Exit
{% endblock %}

{% block styles %}
	<style>
		table {
			border: 1px solid black;
			border-collapse: collapse;
			background-color: #f5f5f5;
			width: 50%;
			margin-bottom: 20px;
			border-radius: 10px;
		}

		th, td {
			padding: 8px;
			text-align: left;
			font-weight: bold;
		}

		th {
			background-color: #333;
			color: white;
		}

		tr:nth-child(even) {
			background-color: #ddd;
		}

		tr:hover {
			background-color: #666262;
			color: white;
		}
		.title{
			background-color: white; 
			border-radius: 10px;
			color: black;
			margin-top: 20px;
			width: 50%;
		}
		.pagination {
			background-color: white;
			color: black;
			font-weight: bold;
			width: 23%;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			overflow: hidden;
		}

		.pagination-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.pagination a, .pagination span {
			display: inline-block;
			padding: 5px 10px;
			margin: 2px;
			text-decoration: none;
			border: 1px solid black;
			border-radius: 3px;
		}

		.pagination a:hover:not(.active) {
			background-color: gray;
		}

		.pagination .btn-info {
			background-color: #007bff;
			color: white;
			border-color: #007bff;
		}

		.pagination .btn-outline-info {
			color: #007bff;
			border-color: #007bff;
		}

		.current {
			margin: 0 auto;
			text-align: center;
		}
		.spacer {
			width: 83px;
		}
	</style>
{% endblock %}

{% block content %}
		<center>
			<div class="title">
				<h2>Stock Exit
					<span>
						<a style="margin-bottom: 4px;" class="btn btn-outline-primary text-center fs-5" href="{% url 'estoque_produtos:stock_output_add' %}"> + Add</a>
					</span>
				</h2>
			</div>

			{% if object_list %}
				<table>
					<thead>
						<tr>
							<th>Edit Item</th>
							<th>Detail Item</th>
							<th>Invoice</th>
							<th>Date</th>
							<th>User</th>
						</tr>
					</thead>
					<tbody>
						{% for object in object_list %}
							<tr>
								<td><a href="{% url 'estoque_produtos:stock_update' pk=object.pk %}" class="btn-outline-info">{{ object }}</a></td>
                                <td><a href="{% url 'estoque_produtos:detail_stock_exit' pk=object.pk %}" class="btn-outline-info">View</a></td>
								<td>{{ object.invoice_number }}</td>
								<td>{{ object.created|date:'d/m/Y' }}</td>
								<td>{{ object.employee.username }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="pagination">
					<div class="pagination-container" style="display: flex; justify-content: center; align-items: center;">
						{% if output.has_previous %}
							<a href="?page=1" class="btn-outline-info">&laquo; First</a>
							<a href="?page={{ output.previous_page_number }}" class="btn-outline-info" style="margin-left: 5px;">Previous</a>
						{% else %}
							<div class="spacer"></div>
							<div class="spacer"></div>
						{% endif %}
				
						{% if not output.has_previous and not output.has_next %}
							<span class="current" style="margin: 0 auto; color: black;">
								Page {{ output.number }} of {{ output.paginator.num_pages }}.
							</span>
						{% else %}
							<span class="current" style="margin-left: 5px; color: black;">
								Page {{ output.number }} of {{ output.paginator.num_pages }}.
							</span>
						{% endif %}
				
						{% if output.has_next %}
							<a href="?page={{ output.next_page_number }}" class="btn-outline-info" style="margin-left: 5px;">Next</a>
							<a href="?page={{ output.paginator.num_pages }}" class="btn-outline-info" style="margin-left: 5px;">Last &raquo;</a>
						{% endif %}
					</div>
				</div>
			{% else %}
				<p class="alert alert-warning">No items in the list.</p>
			{% endif %}
		</center>
{% endblock content %}